@{
    ViewData["Title"] = "Cody Krauskopf";
}



<div id="computer">
    <div id="nameSection">
        <span class="text-center">Cody Krauskopf</span>
    </div>
</div>
<div id="bio">
    <div class="row">
        <div class="columns">
            <h1>I.| Bio</h1>
            <div>Hey, I'm Cody</div>
            <div>Full stack developer.</div>
            <div>Currently developing a new ecommerce site at <a href="http://www.buyautotruckaccessories.com">BuyAutoTruckAccessories</a></div>
        </div>
    </div>
</div>
<div id="work">
    <div class="row">
        <div class="columns">
            <h1>II.| Work</h1>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam congue ultricies diam vel dignissim. Morbi vitae faucibus purus. Duis non elit aliquet, lacinia erat sit amet, sodales mi.</div>
        </div>
    </div>
</div>